.hero{
    display: flex;
    padding: 48px 5%;
    background-color: #F8F9FB;
    gap: 64px;
}

.hero p{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.1px;
    /* Primary/600 */
    color: #437EF7;
    gap: 8px;
}

.hero h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    /* or 115% */
    
    letter-spacing: -0.01em;
    
    /* Gray/700 */
    
    color: #272D37;
}

.hero p.p-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    letter-spacing: -0.1px;
    
    /* Gray/50 */
    
    color: #5F6D7E;    
}

.hero .hero__btn--stack{
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero .hero__btn--stack button{
    width: 121px;
    height: 46px;

    /* Primary/600 */

    background: #437EF7;
    /* Shadow/XSM */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* Base/White */

    color: #FFFFFF;
}

.hero .hero__btn--stack a{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* Primary/600 */

    color: #437EF7;
    text-decoration: none;
    gap: 8px;
}


/* hero Section Finish */

/* Second Section */
.second__section{
    display: flex;
    padding: 64px 5%;
    justify-content: space-around;
    gap: 48px;
}

.second__section .second__section--items h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    
    letter-spacing: -0.02em;
    
    /* Gray/700 */
    
    color: #272D37;
}

.second__section .second__section--items p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: -0.1px;
    
    /* Gray/50 */
    
    color: #5F6D7E;
}
/* Second Section Finish */

/* Third Section */
.our-channels{
    padding: 64px 5%;
    background: #2B63D9;
}

.our-channels h3.header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    /* identical to box height, or 125% */
    letter-spacing: -0.02em;
    
    /* Base/White */
    
    color: #FFFFFF;
}

.our-channels p.p-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.1px;

    /* Primary/200 */

    color: #B1CCFB;
}

.our-channels .our-channels__stack--items{
    display: flex;
    row-gap: 32px;
    column-gap: 32px;
    flex-direction: row;
    justify-content: space-around;

}

.our-channels .our-channels__stack--items .our__items--card{
    margin-top: 32px;
    background: #3971E7;
    border-radius: 5px;
    padding: 24px 32px;

}

.our-channels .our-channels__stack--items .our__items--card .icon-btn{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.our-channels .our-channels__stack--items .our__items--card .icon-btn button{
    width: 118px;
    height: 46px;
    
    /* Base/White */
    
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* Primary/600 */

    color: #437EF7;

}

.our-channels .our-channels__stack--items .our__items--card h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    
    letter-spacing: -0.01em;
    
    /* Base/White */
    
    color: #FFFFFF;
}

.our-channels .our-channels__stack--items .our__items--card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: -0.1px;
    
    /* Primary/200 */
    
    color: #B1CCFB;
    margin-bottom: auto;
}

/* Third Section Finish */

/* fourth Section*/

.fourt-section{
    padding: 64px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.fourt-section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: -0.1px;
    
    /* Primary/600 */
    
    color: #437EF7;
}

.fourt-section h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */
    
    letter-spacing: -0.01em;
    
    /* Gray/700 */
    
    color: #272D37;
}

.fourt-section button{
    display: flex;
    gap: 6px;
    padding: 12px 18px;
    /* Primary/600 */

    background: #437EF7;
    /* Shadow/XSM */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    
    
    /* Base/White */
    
    color: #FFFFFF;
    
}

/* fourth Section Finish */

/* fifth Section*/

.ourTeam{
    padding: 64px 5%;
}

.ourTeam h3.sect-tittle{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: -0.02em;

    /* Gray/700 */

    color: #272D37;
}

.ourTeam p.sect-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.1px;
    /* Gray/50 */
    color: #5F6D7E;
}


.ourTeam .ourTeam__profiles{
    display: flex;
    justify-content: space-around;
}

.ourTeam .ourTeam__profiles .ourTeam__profiles-item{
    width: 576px;
    display: flex;
    gap: 24px;
    margin-top: 64px;
}

.ourTeam .ourTeam__profiles .ourTeam__profiles-item .content__item h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    letter-spacing: -0.01em;
    /* Gray/700 */
    margin-bottom:auto;
    color: #272D37;
}

.ourTeam .ourTeam__profiles .ourTeam__profiles-item .content__item h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.1px;
    /* Primary/600 */
    color: #437EF7;
    margin-top: auto;
}

.ourTeam .ourTeam__profiles .ourTeam__profiles-item .content__item p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: -0.1px;
    
    /* Gray/50 */
    
    color: #5F6D7E;
}

.ourTeam .ourTeam__profiles .ourTeam__profiles-item .content__item .icon-stack-h{
    display: flex;
    gap: 16px;
}
/* fifth Section Finish*/


/* Asked Section */
.questions{
    padding: 64px 5%;
}

.questions h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #272D37;
    margin-bottom: 1rem;
}

.questions p.description{
    color: var(--gray-50, #5F6D7E);
    text-align: center;
    font-size: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    margin-bottom: 4rem;
}

.questions .celda{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--neutral-600, #EAEBF0);
    background: var(--base-white, #FFF);
    align-items: center;
}

.questions .celda p.tittle{
    color: var(--gray-700, #272D37);
    font-size: 1.125rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.00625rem;
    margin: 0%;
}

.questions .celda p.description{
    color: var(--gray-50, #5F6D7E);
    font-size: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    margin: 0%;
}

.questions .celda a{
    padding: 0.25rem 0.75rem;
    border-radius: 0.3125rem;
    background: var(--primary-25, #F5FAFF);
    color: var(--primary-600, #437EF7);
    font-size: 0.875rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
    text-decoration: none;
}

.questions .celda .options{
    display: flex;
    gap: 2rem;
}

.questions .celda .options p.date-act{
    color: var(--gray-50, #5F6D7E);
    font-size: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    margin: 0%;
}

/* Asked Section Finish */

/* last Section  */
.last__sect{
    padding: 64px 5%;
    text-align: center;
    background: #2B63D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.last__sect h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */
    
    text-align: center;
    letter-spacing: -0.01em;
    
    /* Base/White */
    
    color: #FFFFFF;
}

.last__sect button{
    padding: 12px 18px;
    
    width: 91px;
    height: 46px;
    
    /* Base/White */
    
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    /* Primary/600 */

    color: #437EF7;
}
/* last Section Finish */


/* Media Queries */
/* 1440px ✅ */
/* Medium Screen ✅ */

/* ipad pro 12 Media querie ✅ */
@media screen and (width < 1025px){
    
    .hero .hero__img--div img{
        width: 100%;
    }

    .our-channels .our-channels__stack--items{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .our-channels .our-channels__stack--items .our__items--card{
        margin: 0%;
    }

}

/* ipad  Media querie ✅ */

@media screen and (width < 800px) {

    .hero{
        padding-bottom: 3rem;
    }

    .hero h1{
        color: var(--gray-700, #272D37);
    font-size: 2.25rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
    }

    .hero .hero__img--div {
        display: none;
    }

    .second__section{
        flex-wrap: wrap;
    }

    .fourt-section{
        flex-direction: column;
        gap: 2rem;
    }
    .fourt-section img{
        width: 100%;
    }

    .ourTeam .ourTeam__profiles .ourTeam__profiles-item{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .ourTeam .ourTeam__profiles .ourTeam__profiles-item .profile_p{
        width: 100%;
    }

    .ourTeam .ourTeam__profiles{
        flex-direction: column;
    }

    .questions .celda .options{
        display: none;
    }

    .questions .celda a{
        display: none;
    }

}