*{
    box-sizing: border-box;
    list-style: none;
}


/* Estilos nav Bar  */

nav{
    background: #F9FAFB;
    border-bottom: 1px solid #EAEBF0;
}


nav .nav-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    /* gray/900 */
    color: #111928;
}


nav button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* gray/900 */

    color: #111928;
}

nav button.singup{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* gray/900 */

    color: #111928;
}

nav button.login{
    /* Primary/600 */

    background: #437EF7;
    /* Shadow/XSM */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    /* gray/50 */

    color: #F9FAFB;
    border: none;
    padding: 12px 18px;
}

/* Estilos nav Bar */











/* Estilos de Footer*/
footer{
    background-color: #111928;
    padding-left: 5%;
    padding-right: 5%;
}

footer .options{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

footer .options ul{
    padding:0px;
}

footer .options ul strong{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.1px;
    /* Neutral/200 */
    color: #F9F9F9;
}

footer .options ul li{
    /* Text L/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.1px;
    /* Neutral/800 */
    color: #A5ACBA;
    margin-top: 12px;
}

footer .add-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .add-info p{
    /* Text L/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.1px;
    /* Neutral/800 */
    color: #A5ACBA;
}

footer .add-info .iconsrss a{
    margin-right: 12px;

}
/* Estilos de Footer*/




/* Media Queries */

/* Media Querie Para pantallas que con resolucion menor a 1024 px*/
@media screen and (width < 1024px) {

    nav{
        background-color: #dcdcdc;
        width: 100%;
    }
}
    

@media screen and (width < 769px) {
    footer .options{
        flex-wrap: wrap;
        padding-left: 0%;
        margin-left: 0%;
        gap: 16px;

    }
    
    
    footer .add-info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 30px;
    }
}



@media screen and (width < 415px) {
    
    footer .options{
        flex-wrap: wrap;
        padding-left: 0%;
        margin-left: 0%;
        gap: 24px;
        justify-content: center;

    }
}