nav{
    display: flex;
    justify-content: space-between;
    background: #68abed;
    width: 100%;
    height: 86px;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background: #F9FAFB;
    border-bottom: 1px solid #EAEBF0;
}

nav .izq-menu{
    display: flex;
    align-items: center;
    gap: 4rem; 
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.nav-links ul li{
    margin-left: 1em;
    margin-right: 1em;
}


.nav-links ul li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    /* gray/900 */
    color: #111920;
    text-decoration: none;
}

.acces-btn ul{
    display: flex;
    align-items: center;
}

.acces-btn ul li{
    padding:0px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */
    /* gray/900 */
    color: #281111;
}

.acces-btn button{
    width: 80px;
    height: 46px;
    /* Primary/600 */
    /* background: #437EF7; */
    /* Shadow/XSM */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    border-color: #437EF7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #F9FAFB;
    border: none;
}